body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

